
:root {
    --color-texto: #1a3042;
    --color-fondo: #FFFFFF;
    --color-primario: #eafff8;
    --color-secundario: #7fd1ae;
    --color-acento: #3bc276;
}

body {
    background-color: var(--color-fondo);
}

.contenido {
    color: var(--color-texto);
}

h1{
    color: var(--color-texto);
}

.banner {
    text-align: left;
    width: 500px;
    height: 100px;
}

/* Galeria */

.galeria {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.categoria{
    color: var(--color-secundario);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.categoria img {
    border-style: solid;
    width: 20%; /* Ancho inicial de las imágenes */
    margin: 10px;
}

.categoria h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
    .categoria img {
      width: 15%;
    }
  }
  
  @media (max-width: 992px) {
    .categoria img {
      width: 30%;
    }
  }
  
  @media (max-width: 768px) {
    .categoria img {
      width: 40%;
    }
  }
  
  @media (max-width: 576px) {
    .categoria img {
      width: 80%;
    }
  }


header {
    text-align: center;
    background-color: var(--color-primario);
}

nav {
    width: 100%;
    color: var(--color-acento);
    background-color: var(--color-primario);
    text-align: center;
    border-style: solid;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li{
    display: inline-block;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: var(--color-acento);
}


section {
    background-color: var(--color-primario);
}

footer {
    border-style: solid;
    text-align: center;
    background-color: var(--color-primario);
    color: var(--color-acento);
    padding: 20px;
}